:root{
    --vermelho: #E50914; 
    --preta: #141414
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--preta);
    font-family: Arial, 'Times New Roman', Times, serif;
    color: white;
}


header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 46px;
    margin: 10px;
    font-weight: bold;
  
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-size: 17px;
    padding: 10px;    
    transition: .3s;
    font-weight: bold   ;

}

header nav a:hover{
    background-color: #AAA;;
    color: rgb(143, 9, 9);    
}

/*Coisas relacionadas aos filmes*/


.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/ff.jpeg');
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin: 5px;
}

.titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background: rgba(0, 0, 0, 0.50);
    border: none;
    color: white;
    padding: 15px;
    margin: 5px;
    margin-left: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

.botao:hover{
    background: white;
    color: black;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-film{
    height: 100%;
    width: 100%;
    display: block;
}
